<app-design marked="actions"></app-design>
<div class="design-content">
  <div class="column">
    <button mat-raised-button class="button button-add" (click)="openAddActionDialog()">{{"add" | translate}}</button>
    <mat-form-field style="width: 100%">
      <mat-label>{{"filter"| translate}}</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <table mat-table [dataSource]="table" style="width: 100%">
      <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)" style="cursor:pointer"></mat-row>
    </table>
  </div>
  <div *ngIf="selectedRow!=null" class="display-column">
    <button mat-raised-button class="button button-edit" (click)="openEditActionDialog()">{{"edit" | translate}}</button>
    <button mat-raised-button class="button button-delete" (click)="deleteAction()">{{"delete"| translate}}</button>
    <div class="points-column">
      <div style="width: 30%; float: left">
        <p class="attributes-name">{{"name" | translate}}: </p>
        <p class="attributes-name">{{"code" | translate}}: </p>
        <p class="attributes-name">{{"description" | translate}}: </p>
        <p class="attributes-name">{{"repeatable" | translate}}: </p>
        <p class="attributes-name" *ngIf="selectedRow.image_url">{{"icon" | translate}}: </p>
      </div>
      <div style="width: 60%; float: right">
        <p class="attributes-value">{{selectedRow.name}}</p>
        <p class="attributes-value">{{selectedRow.code}}</p>
        <p class="attributes-value">{{selectedRow.description}}</p>
        <p class="attributes-value">{{selectedRow.repeatable}}</p>
        <img class="display-img" [src]="selectedRow.image_url" *ngIf="selectedRow.image_url">
      </div>
    </div>
  </div>
</div>
