.content{
  position: absolute;
  top: 9%;
  left: 21%;
  right: 0;
  width: 79%;
  height: 89vh;
}

.column{
  float: left;
  width: 25%;
  padding: 1%;
  height: 95%;
  margin: 2%;
}

.display-column{
  float: left;
  width: 40%;
  padding: 1%;
  height: 45%;
  margin: 2%;
}

.points-column{
  margin-top: 0.5%;
  width: 100%;
  height: 70%;
  padding: 1%;
  border: solid 0.1vh black;
}

.button-add{
  width: 30%;
  height: 5%;
  font-size: calc(0.5em + 1vmin);
  margin-bottom: 3%;
  max-width: 30%;
}
.button-delete{
  width: 30%;
  height: 10%;
  margin-bottom: 3%;
  float: right;
  font-size: calc(0.5em + 1vmin);
}

.button-edit{
  width: 30%;
  height: 10%;
  margin-bottom: 3%;
  font-size: calc(0.5em + 1vmin);
}

.attributes-name{
  margin-top: 10px;
  color: black;
  text-align: right;
  font-family: Ubuntu;
  font-size: calc(0.5em + 1vmin);
}

.attributes-value{
  margin-top: 10px;
  color: black;
  text-align: left;
  font-family: Ubuntu;
  font-size: calc(0.5em + 1vmin);
}
