<div class="toolbar" role="banner">
  <a class="title-span" href="/">NEURONE GM</a>
  <a class="a-1" *ngIf="home" href="/"><strong class="marked">HOME</strong></a>
  <a class="a-1" *ngIf="!home" href="/">HOME</a>
  <a class="a-1" *ngIf="design" href="/design"><strong class="marked">GAME DESIGN</strong></a>
  <a class="a-1" *ngIf="!design" href="/design">GAME DESIGN</a>
  <a class="a-1" *ngIf="players" href="/players"><strong class="marked">PLAYERS</strong></a>
  <a class="a-1" *ngIf="!players" href="/players">PLAYERS</a>
  <a class="a-1" *ngIf="management" href="/management"><strong class="marked">APP MANAGEMENT</strong></a>
  <a class="a-1" *ngIf="!management" href="/management">APP MANAGEMENT</a>
  <div class="spacer"></div>
  <span class="name-span">Active App</span>
</div>
