<div mat-dialog-content>
  <h1 mat-dialog-title>{{data.message}}</h1>
  <mat-form-field>
    <mat-label>{{"name" | translate}}</mat-label>
    <input matInput [(ngModel)]="level.name">
  </mat-form-field>
  <mat-form-field *ngIf="withCode">
    <mat-label>{{"code" | translate}}</mat-label>
    <input matInput [(ngModel)]="level.code">
  </mat-form-field>
  <mat-form-field >
    <mat-label>{{"description" | translate}}</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              [(ngModel)]="level.description"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>{{"level.pointsRequired" | translate}}</mat-label>
    <mat-select [(ngModel)]="level.point_required" >
      <mat-option *ngFor="let point of data.points" [value]="point.code">{{point.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{"level.pointsThreshold" | translate}}</mat-label>
    <input matInput [(ngModel)]="level.point_threshold">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="level">{{"confirm" | translate}}</button>
  <button mat-button (click)="onClickNO()">{{"cancel" | translate}}</button>
</div>
