<div mat-dialog-content>
  <h1 mat-dialog-title>{{data.message}}</h1>
  <mat-form-field>
    <mat-label>{{"name" | translate}}</mat-label>
    <input matInput [(ngModel)]="action.name">
  </mat-form-field>
  <mat-form-field *ngIf="withCode">
    <mat-label>{{"code" | translate}}</mat-label>
    <input matInput [(ngModel)]="action.code">
  </mat-form-field>
  <mat-form-field >
    <mat-label>{{"description" | translate}}</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              [(ngModel)]="action.description"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>{{"repeatable" | translate}}</mat-label>
    <mat-select [(value)]="action.repeatable" >
      <mat-option value=true>{{"yes" | translate}}</mat-option>
      <mat-option value=false>{{"no" | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="form-group">
    <label for="file" style="margin-right: 2%;">{{"action.chooseImage" | translate}}</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="action">{{"confirm" | translate}}</button>
  <button mat-button (click)="onClickNO()">{{"cancel" | translate}}</button>
</div>
