<app-design marked="challenges"></app-design>
<div class="content">
  <div class="column">
    <button mat-raised-button class="button-add" (click)="openAddAChallengeDialog()">Add</button>
    <mat-form-field style="width: 100%">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <table mat-table [dataSource]="table" style="width: 100%">
      <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)" style="cursor:pointer"></mat-row>
    </table>
  </div>
  <div *ngIf="selectedRow!=null" class="display-column">
    <button mat-raised-button class="button-edit">Edit</button>
    <button mat-raised-button class="button-delete">Delete</button>
    <div class="points-column">
      <p class="attributes">Name: {{selectedRow.name}}</p>
      <p class="attributes">Code: {{selectedRow.code}}</p>
      <p class="attributes">Description: {{selectedRow.description}}</p>
      <p class="attributes">Start Date: {{selectedRow.start_date.slice(0,10)}}</p>
      <p class="attributes">End Date: {{selectedRow.end_date.slice(0,10)}}</p>
      <p class="attributes"><strong>Actions Required</strong></p>
      <p class="attributes" *ngFor="let action of selectedRow.actions_required">Action Name: {{action.action.name}}, Times Required: {{action.times_required}}</p>
      <p class="attributes" *ngIf="this.selectedRow.challenges_required.length > 0"><strong>Challenges Required</strong></p>
      <p class="attributes" *ngFor="let challenge of selectedRow.challenges_required">Challenge Name: {{challenge.challenge.name}}</p>
      <p class="attributes"><strong>Points Awards</strong></p>
      <p class="attributes" *ngFor="let point of selectedRow.points_awards">Point Name: {{point.point.name}}, Amount: {{point.amount}}</p>
    </div>
  </div>
</div>
