<app-design marked="challenges"></app-design>
<div class="design-content">
  <div class="column">
    <button mat-raised-button class="button button-add" (click)="openAddAChallengeDialog()">{{"add" | translate}}</button>
    <mat-form-field style="width: 100%">
      <mat-label>{{"filter" | translate}}</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <table mat-table [dataSource]="table" style="width: 100%">
      <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)" style="cursor:pointer"></mat-row>
    </table>
  </div>
  <div *ngIf="selectedRow!=null" class="display-column">
    <button mat-raised-button class="button button-edit" (click)="openEditChallengeDialog()">{{"edit" | translate}}</button>
    <button mat-raised-button class="button button-delete" (click)="deleteChallenge()">{{"delete" | translate}}</button>
    <div class="points-column">
      <div style="width: 33%; float: left">
        <p class="attributes-name">{{"name" | translate}}: </p>
        <p class="attributes-name">{{"code" | translate}}: </p>
        <p class="attributes-name">{{"description" | translate}}: </p>
        <p class="attributes-name">{{"startDate" | translate}}: </p>
        <p class="attributes-name">{{"endDate" | translate}}: </p>
      </div>
      <div style="width: 66%; float: right">
        <p class="attributes-value">{{selectedRow.name}}</p>
        <p class="attributes-value">{{selectedRow.code}}</p>
        <p class="attributes-value">{{selectedRow.description}}</p>
        <p class="attributes-value">{{selectedRow.start_date.slice(0,10)}}</p>
        <p class="attributes-value">{{selectedRow.end_date.slice(0,10)}}</p>
      </div>
      <div style="width: 100%">
        <p class="attributes-title"><strong>{{"challenge.actionsRequired" | translate}}</strong></p>
        <p class="attributes-title" *ngFor="let action of selectedRow.actions_required"><span style="color: #696969">{{"challenge.actionName" | translate}}:</span> &nbsp;{{action.action.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="color: #696969">{{"challenge.actionTimesRequired" | translate}}:</span> &nbsp;{{action.times_required}}</p>
        <p class="attributes-title" *ngIf="this.selectedRow.challenges_required.length > 0"><strong>{{"challenge.challengesRequired" | translate}}</strong></p>
        <p class="attributes-title" *ngFor="let challenge of selectedRow.challenges_required"><span style="color: #696969">{{"challenge.challengeRequiredName" | translate}}:</span> &nbsp;{{challenge.challenge.name}}</p>
        <p class="attributes-title"><strong>{{"challenge.pointsAwards" | translate}}</strong></p>
        <p class="attributes-title" *ngFor="let point of selectedRow.points_awards"><span style="color: #696969">{{"challenge.pointName" | translate}}:</span> &nbsp;{{point.point.name}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="color: #696969">{{"challenge.pointsAmount" | translate}}:</span> &nbsp;{{point.amount}}</p>
      </div>
    </div>
  </div>
</div>
