.main-content{
    top: 9%;
    left: 5%;
    width: 95%;
    height: 89vh;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    position: absolute;
    z-index: 1;
    margin-top: -5%;
    margin-left: 2%;
    width: 134px;
    height: 134px;
  }

.player-name{
    margin-left: 15%;
    font-size: calc(1.5em + 1vmin);
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: Candara, sans-serif;
}

.attribute-title{
    margin-left: 15%;
    margin-top: 2%;
    font-size: calc(1.5em + 1vmin);
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: Candara, sans-serif;
}

.status-card{
    width: 45%;
    margin-top: 1%; 
    margin-right: 2%;
    display: inline-block; 
    vertical-align:top; 
    border: 1.5px solid #000 !important;
    border-radius: 25px;
}

.attribute-card{
    margin: 10px; 
    height: 40px; 
    padding: 2px 1px 2px 2px;
    background-color: white;
}
