<app-header marked="management"></app-header>
<div class="main-content">
  <h1 class="h1-1">Active Application:</h1>
  <h1 *ngIf="!change" class="h1-1" style="display: inline-block">{{focusApp.name}}</h1>
  <button *ngIf="!change" mat-raised-button style="display: inline-block; margin-left: 5%" (click)="changeFocus()">Change</button>
  <div *ngIf="change" class="select-app-container">
    <mat-form-field class="select-1">
      <mat-select [(ngModel)]="newFocusApp" required>
        <mat-option *ngFor="let app of this.apps" [value]="app">{{app.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button *ngIf="change" mat-raised-button class="button-3" (click)="submitChange()">Confirm</button>
  <button *ngIf="change" mat-raised-button class="button-3" (click)="cancelChange()">Cancel</button>
  <h1 class="h1-1">Manage my Apps</h1>
  <div class="column">
    <button mat-raised-button class="button-1" (click)="openAddAppDialog()">Add</button>
    <mat-form-field style="width: 100%">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <table mat-table [dataSource]="table" style="width: 100%">
      <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)" style="cursor:pointer"></mat-row>
    </table>
  </div>
  <div *ngIf="selectedRow!=null" class="display-column">
    <button mat-raised-button class="button-1" (click)="openEditAppDialog()">Edit</button>
    <button mat-raised-button class="button-2" (click)="deleteApp()">Delete</button>
    <div class="points-column">
      <p class="attributes">Name: {{selectedRow.name}}</p>
      <p class="attributes">Code: {{selectedRow.code}}</p>
      <p class="attributes">Description: {{selectedRow.description}}</p>
      <p class="attributes">Owner: {{selectedRow.owner}}</p>
    </div>
  </div>

</div>
