.list-item-line-left{
  display: inline-block;
  width: 50%;
}

.list-item-line-right{
  display: inline-block;
  width: 50%;
  text-align: right;
}

.container{
  width: 50vh;
}

.mat-icon{
  text-align: right;
  margin-left: 10%;
}

.input-1{
  display: block;
}
